.createnewpassword{
    position: relative;
    background-image: url('../../../Images/Hdrbg.jpg');
    background-position: center;
    background-size: cover;
   width: 100%;
   height: 100vh;
}
.createnewpassword img{
    width: 400px;
    margin-left: 35%;
}
.createnewpassword h1{
    font-size: 30px;
}
.createnewpassword p{
    font-size: 16px;
    margin: 30px;
}
.inputs-Forget-Newpass{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.inputs-Forget-Newpass .inputs{
            width: 30%;
}
.createnewpassword button{
    background-color: antiquewhite;
    width: 30%;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    margin: 30px;
}
@media screen and (max-width:600px){
    .createnewpassword img{
        width: 400px;
        margin-left: 10%;
    }
}