.therdpage-main h1{
    margin: 30px;
    font-size: 70px;
}
.therdpage-main p{
    font-size: 30px;
    margin: 20px;
}
.radio-inputs {
    /* position: relative; */
    margin-left: 40%;
    margin-top: 30px;
    display: flex;
    /* flex-wrap: wrap; */
    border-radius: 0.5rem;
    background-color: #DC6E66;
    box-sizing: border-box;
    box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
    padding: 0.25rem;
    width: 300px;
    font-size: 14px;
  }
  
  .radio-inputs .radio {
    flex: 1 1 auto;
    text-align: center;
  }
  
  .radio-inputs .radio input {
    display: none;
  }
  
  .radio-inputs .radio .name {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: none;
    padding: .5rem 0;
    color: rgba(51, 65, 85, 1);
    transition: all .15s ease-in-out;
  }
  
  .radio-inputs .radio input:checked + .name {
    background-color: #fff;
    font-weight: 600;
  }

  
.nth-child1 {
    background-color: yellow;
    grid-area: yel;
  }
  .nth-child2 {
    background-color: purple;
    grid-area: pur;
  }
  .nth-child3 {
    background-color: green;
  }
  .nth-child4 {
    background-color: red;
    grid-area:  re;
  }
  .nth-child5 {
    background-color: orchid;
    grid-area: vio;
  }