.full-hiring {
  position: relative;
  background-image: url("../Images/Hdrbg.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 200vh;
}

.hiring-ul {
  display: flex;
  background-color: #f5c365;
  padding: 8px;
  width: 80%;
  margin: auto;
  gap: 2rem;
}
.hiring-ul li {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin-left: 6%;
}
.flip-card {
  background-color: transparent;
  width: 350px;
  height: 354px;
  perspective: 1000px;
  font-family: sans-serif;
}

.title {
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
  margin: 0;
}

.flip-card-front span {
  width: 70%;
  margin-left: 60px;
  font-family: "Abel", sans-serif;
  font-size: 13px;
  text-align: center;
}
.flip-card-front img {
  aspect-ratio: 3/2;
  object-fit: contain;
  position: absolute;
  margin-left: -70px;
  margin-top: 55%;
  width: 220px;
}
.flip-card-front :nth-child(3) {
  width: 220px;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.Hiring-video {
  margin: auto;
  border-radius: 10px;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.hiring-haeading h1,
p {
  margin: 10px;
}
.hiring-haeading h2 {
  margin: 10px;
  font-size: 50px;
  text-align: center;
}
.flip-card-front,
.flip-card-back {
  box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 3px dashed black;
  border-radius: 1rem;
}
.hiring-haeading span {
  color: black;
}
.hiring-main-container {
  margin: 1rem 0;
}
.hiring-main-container p {
  font-family: "Abel", sans-serif;
  font-size: 25px;
  text-align: center;
}
.flip-card-front {
  background: linear-gradient(
    190deg,
    #ebebeb 70%,
    #f6f3ea00 88%,
    bisque 40%,
    transparent 78%
  );
  color: black;
}

.flip-card-back {
  background-color: #dc6e66;
  transform: rotateY(180deg);
}
.flip-cart-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  margin-top: 5%;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .full-hiring {
    background-image: url("../Images/Hdrbg.jpg");
    background-position: center;
    background-size: cover;
    width: 90%;
    height: 100vh;
  }

  .Hiring-video {
    margin: auto;
    border-radius: 10px;
  }
}

@media screen and (max-width: 600px) {
  .full-form {
    margin-top: 120px;
  }
  .form-heading {
    margin-top: 120px;
  }

  .hiring-haeading {
    margin-top: 0;
    margin-left: 1%;
  }

  .hiring-ul {
    position: absolute;
    display: flex;
    background-color: #f5c365;
    padding: 8px;
    width: 95%;
    height: 2.5%;
    margin-top: 250px;
    margin-left: 2%;
    gap: 2rem;
  }
  .Hiring-video {
    margin: auto;
    border-radius: 10px;
  }
  .hiring-ul li {
    font-size: 9px;
  }
  .full-hiring {
    position: relative;
    background-image: url("../Images/Hdrbg.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 350vh;
  }

  .flip-cart-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    margin-top: 30%;
  }
  .hiring-haeading span {
    margin-top: 310px;
    color: black;
  }
}
