/* Slider.css */

.sliderWrapper {
  height: 100vh;
  overflow: hidden;
  position: relative; /* Needed for absolute positioning of dots */
}

.slide {
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-dots {
  display: none;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  /* list-style: none; */
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  border-right: 1px solid red;
  width: 10px;
  height: 7rem;
  z-index: -9999;
}

.slick-dots li {
  margin-bottom: 5rem;
}

.slick-dots li button {
  font-size: 23px;
  width: 12px;
  height: 12px;
  border: none;
  background-color: pink;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
}

.slick-dots li.slick-active button {
  opacity: 1;
  background-color: red;
}
@media (min-width: 600px) and (max-width: 1024px) {
  .slide {
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .slick-dots {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    /* list-style: none; */
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    border-right: 1px solid red;
    width: 10px;
    height: 7rem;
    display: none;
  }
  .slick-dots li.slick-active button {
    opacity: 1;
    background-color: red;
    display: none;
  }
}
