
.horizontal-scroll-container {
    width: 100%; /* Set the width of the container */
    /* Enable horizontal scrolling */
    overflow-y: hidden;
    scroll-behavior: smooth;
    scrollbar-width: 100%;
    scrollbar-color: red;
  }
  
  .horizontal-scroll-content {
    display: flex;/* Make the content flex */
    /* You can add more styles here for your content */
  }