.navbar-main{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* position: absolute;
   */top: 20px;
}
.navbar-main button{
  width: 90%;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-left: 0%;
    z-index: 3;
    gap: -1rem;
}
.navbar-main img{
/* margin-left: 10%; */
  margin-top: 30px;
  width:15%;

}
.input-container {
  position: relative;
  display: flex;
  align-items: center;
  z-index: 1;
}
nav button{
  background-color: #fcf0e7;
  /* padding: 10px; */
  border-radius: 10px;
  font-size: 16px;
  font-weight: 700;
  border: 1px solid #dc6e66;
}
.input {
  width: 40px;
  height: 13px;
  border-radius: 10px;
  border: none;
  
  outline: none;
  padding: 18px 16px;
  background-color: transparent;
  cursor: pointer;
  transition: all .5s ease-in-out;
  z-index: 1;

}

.input::placeholder {
  color: transparent;
}

.input:focus::placeholder {
  color: rgb(131, 128, 128);
}

.input:focus,.input:not(:placeholder-shown) {
  background-color: #fff;
  border: 1px solid #dc6e66;
  width: 290px;
  cursor: none;
  padding: 18px 16px 18px 40px;
}

.icon {
  position: absolute;
  left: 0;
  top: 5;
  height: 40px;
  width: 40px;
  background-color: #fff;
  border-radius: 10px;
  z-index: -1;
  fill:#dc6e66;
  border: 1px solid #dc6e66;
}

.input:hover + .icon {
  transform: rotate(360deg);
  transition: .2s ease-in-out;
}

.input:focus + .icon,.input:not(:placeholder-shown) + .icon {
  z-index: 0;
  background-color: transparent;
  border: none;
}
.nav-links{
  display: flex;
  list-style: none;
  gap: 2rem;
}
.nav-links li{
  color: white;
}
.nav-icons{
  display: none;
}

@media screen and (min-width:1050px) {
  .nav-icons{
    display: block;
    z-index: 3;
    margin-left: 25px;
  }
  .div-flex{
    margin-top: -10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 12rem;
  }
  .div-flex-a, .div-flex.b{
  
  }
  .close{
    position: absolute;
    color: white;
    font-size: 40px;
    margin-left: -9%;
  }
  .nav-links{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: -10px;
    height: 120vh;
    width: 100%;
    background-image: url('../Images/Hdrbg.jpg');
    background-position: center;
    background-size: cover;
    z-index: 3;
    list-style: none;
    /* gap: 2rem; */
    left: -1200%;
    transition: 2s;
  }
  .nav-links.active{
    position: absolute;
    left: -100%;
  }
  .nav-links {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-left: 100%;
  }
  .nav-links li{
  margin-top: 60px;
  font-size: 30px;
  color: black;
  }
  .menu{
    background-color: #dc6e66;
    font-size: 30px;
   
    color: white;
    border-radius: 10px;
    
  }
  .close{
    background-color:white  ;
    font-size: 20px;
    /* padding: 10px; */
    color: #dc6e66;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 40px;
    margin-left: 10%;
  }
}

@media screen and (max-width:600px){
  .nav-icons{
    display: block;
    z-index: 3;
    margin-left: 15px;
  }
  .close{
    position: absolute;
    color: white;
    font-size: 40px;
    margin-left: -9%;
  }
  .nav-links{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10px;
    height: 100vh;
    width: 100%;
    background-image: url('../Images//Navimage.jpg');
    background-position: center;
    background-size: cover;
    z-index: 3;
    list-style: none;
    /* gap: 2rem; */
    left: -1200%;
    transition: 2s;
  }
  .nav-links.active{
    position: absolute;
    left: -100%;
  }
  .nav-links {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-left: 100%;
  }
  .nav-links li{
  margin-top: 40px;
  }
  .menu{
    background-color: #dc6e66;
    font-size: 30px;
   
    color: white;
    border-radius: 10px;
    
  }
  .close{
    background-color:white  ;
    font-size: 30px;
    /* padding: 10px; */
    color: #dc6e66;
    border-radius: 50px;
    margin-top: -40px;
    margin-left: -17%;
  }
  .navbar-main img{
    width: 130px;
    margin-top: 14%;
    margin-left: 1%;
  }
}
@media (min-width: 601px) and (max-width: 1024px){
  .navbar-main button{
    background-color: #fcf0e7;
    /* padding: 10px; */
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
    width: 140%;
    margin-left: -22%;
    border: 1px solid #dc6e66;
  }
  .nav-icons{
    display: block;
    z-index: 3;
    margin-left: 25px;
  }
  .div-flex{
    margin-top: -30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 12rem;
  }

  
  .nav-links{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: -10px;
    height: 120vh;
    width: 100%;
    background-image: url('../Images/Hdrbg.jpg');
    background-position: center;
    background-size: cover;
    z-index: 3;
    list-style: none;
    /* gap: 2rem; */
    left: -1200%;
    transition: 2s;
  }
  .nav-links.active{
    position: absolute;
    left: -100%;
  }
  .nav-links {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-left: 100%;
  }
  .nav-links li{
  margin-top: 60px;
  font-size: 30px;
  color: black;
  }
  .menu{
    background-color: #dc6e66;
    font-size: 30px;
    color: white;
    border-radius: 10px;
    
  }
  .close{
    background-color:white  ;
    font-size: 20px;
    /* padding: 10px; */
    color: #dc6e66;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 40px;
    margin-left: -90%;
  }
}