.workshop-main{
    background-image: url('../Images/Hdrbg.jpg');
    width: 570%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    margin-left: -1%;
    
}
.workshop-main h1{
    text-align: center;
    font-size: 60px;
    
}
.two-workshop-btns{
    margin-left: 10%;
 /* margin-top: 40%; */
    
}
.workshop-arrow-text{
    width: 50%;
}
.workshop-btn-1,.workshop-.btn-2{
    display: flex;
    gap: 2rem;
    align-items: center;
    border-bottom: 3px solid #dc6e66;
    width: 50%;
    z-index: -1;
}
.workshop-btn-1 p{
    margin-top: 13%;
}
.Workshop-btn button {
margin-left: 20%;
    padding: 10px;
    font-size: 15px;
    outline: none;
    border: none;
    background-color:#eed4c5;
   margin-top: 40px;
    position: relative;
    letter-spacing: 1px;
    border-radius: 100%;
   width: 50px;
   
   height: 40px;
   }
   
   .Workshop-btn button::before {
    border-radius: 100%;
    content: '';
    color: black;
    /*Button's value/text-content */
    position: absolute;
    top: -14%;
    left: 7%;
    border: 2px solid black;
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.15s ease-in-out;
    font-weight: bold;
   }
   
   .Workshop-btn button:hover::before {
    top: 0;
    left: 0;
   }
   .two-workshop-btns{

   }
   .workshop-container{
    display: flex;
   }
.workshop-side-caro img{

  margin-left: -30%;
  z-index: 3;
}


@media screen and (max-width:600px) {
    .workshop-main{
        background-image: url('../Images/Hdrbg.jpg');
        width: 100%;
        height: 125vh;
        background-position: center;
        background-size: cover;
        margin-top: 35%;
        z-index: 3;
        /* position: relative; */
        margin-top: 1px;
    }
    .workshop-main h1{
        position: absolute;
        margin-top: 30%;
        margin-left: 5%;
        font-size: 30px;
        
    }
    .workshop-container{
        display: flex;
        flex-direction: column;
    }
    .workshop-btn-1,.workshop-.btn-2{
        
        margin-left: 20px;
        display: flex;
        gap: 2rem;
        align-items: center;
        border-bottom: 3px solid #dc6e66;
        width: 170%;
        z-index: -1;
    }
    .two-workshop-btns{
        margin-top: 100%;
    }
    .workshop-side-caro img{
        margin-top: 25%;
      margin-left: 1%;
      z-index: 3;
    }
}
@media (min-width: 600px) and (max-width: 1024px){
    .workshop-main{
        background-image: url('../Images/Hdrbg.jpg');
        width: 100%;
        height: 100vh;
        background-position: center;
        background-size: cover;
        /* margin-top: 15%; */
        z-index: 3;
        /* position: relative; */
        margin-top: 1px;
    }
    .workshop-main h1{
        position: absolute;
        margin-top: 26%;
        margin-left: 14%;
        font-size: 30px;
        
    }
    .workshop-container{
        display: flex;
        flex-direction: row;
    }
    .workshop-btn-1,.workshop-.btn-2{
        
        margin-left: 20px;
        display: flex;
        gap: 2rem;
        align-items: center;
        border-bottom: 3px solid #dc6e66;
        width: 100%;
        z-index: -1;
    }
    .two-workshop-btns{
        margin-top: 100%;
    }
    .workshop-side-caro img{
        margin-top: 65%;
      margin-left: 4%;
      z-index: 3;
    }
}